
⣾⢷⡾⢷⡾⣷ aunty
⢿⡾⢷⡾⢷⡿ build [dry]

[dry] Webpack config

[
  {
    [34mmode[39m: [32m'production'[39m,
    [34mtarget[39m: [ [32m'web'[39m, [32m'es5'[39m ],
    [34mcache[39m: [33mtrue[39m,
    [34mentry[39m: {
      [34mindex[39m: [ [32m'/Users/elvery.simon/Projects/housing-stress/src/index'[39m ],
      [34mexplorer[39m: [ [32m'/Users/elvery.simon/Projects/housing-stress/src/explorer'[39m ]
    },
    [34mdevtool[39m: [32m'source-map'[39m,
    [34moutput[39m: {
      [34mpath[39m: [32m'/Users/elvery.simon/Projects/housing-stress/.aunty/build'[39m,
      [34mpublicPath[39m: [32m'https://www.abc.net.au/res/sites/news-projects/housing-stress/main/'[39m,
      [34mfilename[39m: [32m'[name].js'[39m
    },
    [34mresolve[39m: {
      [34malias[39m: {
        [34msvelte[39m: [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/svelte'[39m
      },
      [34mextensions[39m: [ [32m'.mjs'[39m, [32m'.js'[39m, [32m'.json'[39m, [32m'.ts'[39m, [32m'.svelte'[39m ],
      [34mmainFields[39m: [ [32m'svelte'[39m, [32m'browser'[39m, [32m'module'[39m, [32m'main'[39m ],
      [34mconditionNames[39m: [ [32m'svelte'[39m, [32m'browser'[39m, [32m'import'[39m ]
    },
    [34mmodule[39m: {
      [34mrules[39m: [
        {
          [34mtest[39m: [31m/\.m?[jt]sx?$/[39m,
          [34minclude[39m: [
            [32m'/Users/elvery.simon/Projects/housing-stress/src'[39m,
            [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/layercake'[39m,
            [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/carbon-components-svelte'[39m,
            [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/carbon-icons-svelte'[39m,
            [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/@abcnews/svelte-scrollyteller'[39m,
            [32m'/Users/elvery.simon/Projects/svelte-scrollyteller'[39m,
            [31m/(node_modules\/svelte)/[39m
          ],
          [34mloader[39m: [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/babel-loader/lib/index.js'[39m,
          [34moptions[39m: {
            [34mpresets[39m: [
              [
                [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/@babel/preset-env/lib/index.js'[39m,
                {
                  [34mtargets[39m: {
                    [34mbrowsers[39m: [ [32m'> 1% in AU'[39m, [32m'Firefox ESR'[39m, [32m'IE 11'[39m ]
                  },
                  [34museBuiltIns[39m: [32m'entry'[39m,
                  [34mcorejs[39m: [32m'3'[39m,
                  [34mmodules[39m: [33mfalse[39m
                }
              ],
              [
                [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/@babel/preset-typescript/lib/index.js'[39m,
                { [34monlyRemoveTypeImports[39m: [33mtrue[39m }
              ]
            ],
            [34mplugins[39m: [
              [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/@babel/plugin-syntax-dynamic-import/lib/index.js'[39m
            ]
          }
        },
        {
          [34mtest[39m: [31m/\.(css|scss)$/[39m,
          [34muse[39m: [
            {
              [34mloader[39m: [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/style-loader/dist/cjs.js'[39m
            },
            {
              [34mloader[39m: [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/css-loader/dist/cjs.js'[39m,
              [34moptions[39m: { [34mmodules[39m: [33mfalse[39m, [34msourceMap[39m: [33mfalse[39m }
            },
            {
              [34mloader[39m: [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/sass-loader/dist/cjs.js'[39m
            }
          ]
        },
        {
          [34mtest[39m: [31m/\.[tc]sv$/[39m,
          [34mloader[39m: [32m'csv-loader'[39m,
          [34moptions[39m: { [34mdynamicTyping[39m: [33mtrue[39m, [34mheader[39m: [33mtrue[39m, [34mskipEmptyLines[39m: [33mtrue[39m }
        },
        {
          [34mtest[39m: [31m/\.(jpg|png|gif|mp4|m4v|flv|mp3|wav|m4a|eot|ttf|woff|woff2)$/[39m,
          [34mtype[39m: [32m'asset'[39m
        },
        {
          [34mtest[39m: [31m/\.svg$/[39m,
          [34mresourceQuery[39m: { [34mnot[39m: [ [31m/raw/[39m ] },
          [34mtype[39m: [32m'asset'[39m
        },
        { [34mresourceQuery[39m: [31m/raw/[39m, [34mtype[39m: [32m'asset/source'[39m },
        { [34mtest[39m: [31m/\.html$/[39m, [34mtype[39m: [32m'asset/source'[39m },
        {
          [34mtest[39m: [31m/\.svelte$/[39m,
          [34minclude[39m: [
            [32m'/Users/elvery.simon/Projects/housing-stress/src'[39m,
            [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/layercake'[39m,
            [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/carbon-components-svelte'[39m,
            [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/carbon-icons-svelte'[39m,
            [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/@abcnews/svelte-scrollyteller'[39m,
            [32m'/Users/elvery.simon/Projects/svelte-scrollyteller'[39m,
            [31m/(node_modules\/svelte)/[39m
          ],
          [34muse[39m: [
            {
              [34mloader[39m: [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/babel-loader/lib/index.js'[39m,
              [34moptions[39m: {
                [34mpresets[39m: [
                  [
                    [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/@babel/preset-env/lib/index.js'[39m,
                    {
                      [34mtargets[39m: {
                        [34mbrowsers[39m: [ [32m'> 1% in AU'[39m, [32m'Firefox ESR'[39m, [32m'IE 11'[39m ]
                      },
                      [34museBuiltIns[39m: [32m'entry'[39m,
                      [34mcorejs[39m: [32m'3'[39m,
                      [34mmodules[39m: [33mfalse[39m
                    }
                  ],
                  [
                    [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/@babel/preset-typescript/lib/index.js'[39m,
                    { [34monlyRemoveTypeImports[39m: [33mtrue[39m }
                  ]
                ],
                [34mplugins[39m: [
                  [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/@babel/plugin-syntax-dynamic-import/lib/index.js'[39m
                ]
              }
            },
            {
              [34mloader[39m: [32m'/Users/elvery.simon/Projects/housing-stress/node_modules/svelte-loader/index.js'[39m,
              [34moptions[39m: {
                [34mdev[39m: [33mfalse[39m,
                [34memitCss[39m: [33mfalse[39m,
                [34mpreprocess[39m: {
                  [34mdefaultLanguages[39m: {
                    [34mmarkup[39m: [32m'html'[39m,
                    [34mstyle[39m: [32m'css'[39m,
                    [34mscript[39m: [32m'javascript'[39m
                  },
                  [34mmarkup[39m: [36m[AsyncFunction: markup][39m,
                  [34mscript[39m: [36m[AsyncFunction: script][39m,
                  [34mstyle[39m: [36m[AsyncFunction: style][39m
                }
              }
            }
          ]
        },
        {
          [34mtest[39m: [31m/node_modules\/svelte\/.*\.mjs$/[39m,
          [34mresolve[39m: { [34mfullySpecified[39m: [33mfalse[39m }
        }
      ]
    },
    [34mplugins[39m: [
      EnvironmentPlugin {
        [34mkeys[39m: [
          [32m'MANPATH'[39m,
          [32m'TERM_PROGRAM'[39m,
          [32m'NODE'[39m,
          [32m'INIT_CWD'[39m,
          [32m'TERM'[39m,
          [32m'SHELL'[39m,
          [32m'HISTSIZE'[39m,
          [32m'npm_config_metrics_registry'[39m,
          [32m'HOMEBREW_REPOSITORY'[39m,
          [32m'TMPDIR'[39m,
          [32m'npm_config_global_prefix'[39m,
          [32m'TERM_PROGRAM_VERSION'[39m,
          [32m'COLOR'[39m,
          [32m'TERM_SESSION_ID'[39m,
          [32m'npm_config_noproxy'[39m,
          [32m'npm_config_registry'[39m,
          [32m'npm_config_local_prefix'[39m,
          [32m'PNPM_HOME'[39m,
          [32m'GIT_EDITOR'[39m,
          [32m'HISTFILESIZE'[39m,
          [32m'USER'[39m,
          [32m'COMMAND_MODE'[39m,
          [32m'npm_config_globalconfig'[39m,
          [32m'SSH_AUTH_SOCK'[39m,
          [32m'__CF_USER_TEXT_ENCODING'[39m,
          [32m'npm_execpath'[39m,
          [32m'DOTFILES'[39m,
          [32m'PATH'[39m,
          [32m'npm_package_json'[39m,
          [32m'_'[39m,
          [32m'LESSEDIT'[39m,
          [32m'npm_config_userconfig'[39m,
          [32m'npm_config_init_module'[39m,
          [32m'__CFBundleIdentifier'[39m,
          [32m'npm_command'[39m,
          [32m'PWD'[39m,
          [32m'npm_lifecycle_event'[39m,
          [32m'EDITOR'[39m,
          [32m'npm_package_name'[39m,
          [32m'LANG'[39m,
          [32m'ITERM_PROFILE'[39m,
          [32m'XPC_FLAGS'[39m,
          [32m'ASDF_DIRENV_BIN'[39m,
          [32m'npm_config_node_gyp'[39m,
          [32m'npm_package_version'[39m,
          [32m'XPC_SERVICE_NAME'[39m,
          [32m'HISTCONTROL'[39m,
          [32m'GPG_TTY'[39m,
          [32m'SHLVL'[39m,
          [32m'COLORFGBG'[39m,
          [32m'HOME'[39m,
          [32m'LC_TERMINAL_VERSION'[39m,
          [32m'HOMEBREW_PREFIX'[39m,
          [32m'ITERM_SESSION_ID'[39m,
          [32m'npm_config_cache'[39m,
          [32m'LOGNAME'[39m,
          [32m'npm_lifecycle_script'[39m,
          [32m'VISUAL'[39m,
          [32m'npm_config_user_agent'[39m,
          [32m'HOMEBREW_CELLAR'[39m,
          [32m'INFOPATH'[39m,
          [32m'LC_TERMINAL'[39m,
          [32m'SCMPUFF_GIT_CMD'[39m,
          [32m'HISTTIMEFORMAT'[39m,
          [32m'npm_node_execpath'[39m,
          [32m'npm_config_prefix'[39m,
          [32m'COLORTERM'[39m,
          [32m'NODE_ENV'[39m
        ],
        [34mdefaultValues[39m: {}
      },
      ForkTsCheckerWebpackPlugin {
        [34moptions[39m: {
          [34mlogger[39m: { [34minfrastructure[39m: [32m'silent'[39m, [34missues[39m: [32m'silent'[39m },
          [34mtypescript[39m: { [34mdiagnosticOptions[39m: { [34msemantic[39m: [33mtrue[39m, [34msyntactic[39m: [33mtrue[39m } }
        }
      },
      CopyPlugin {
        [34mpatterns[39m: [
          {
            [34mfrom[39m: [32m'/Users/elvery.simon/Projects/housing-stress/public'[39m
          }
        ],
        [34moptions[39m: {}
      }
    ],
    [34moptimization[39m: { [34mmoduleIds[39m: [32m'deterministic'[39m, [34mminimize[39m: [33mtrue[39m }
  }
]

[dry] Deploy config

{
  [34mid[39m: [32m'main'[39m,
  [34mtargets[39m: [
    {
      [34mfiles[39m: [32m'**'[39m,
      [34mfrom[39m: [32m'/Users/elvery.simon/Projects/housing-stress/.aunty/build'[39m,
      [34mprofile[39m: [32m'contentftp'[39m,
      [34mpublicPath[39m: [32m'https://www.abc.net.au/res/sites/news-projects/housing-stress/main/'[39m,
      [34mto[39m: [32m'/www/res/sites/news-projects/housing-stress/main'[39m
    }
  ]
}

